<h1><%= @keyboard.name %></h1>

<h2><%= @parent_commit.name %> .. <%= @commit.name %></h2>


<div id="editor">
</div>

<%= javascript_tag do %>

	function mergeViewHeight(mergeView) {
        function editorHeight(editor) {
          if (!editor) return 0;
          return editor.getScrollInfo().height;
        }
        return Math.max(editorHeight(mergeView.leftOriginal()),
                        editorHeight(mergeView.editor()),
                        editorHeight(mergeView.rightOriginal()));
    }

    function resize(mergeView) {
        var height = mergeViewHeight(mergeView);
        for(;;) {
          if (mergeView.leftOriginal())
            mergeView.leftOriginal().setSize(null, height);
          mergeView.editor().setSize(null, height);
          if (mergeView.rightOriginal())
            mergeView.rightOriginal().setSize(null, height);

          var newHeight = mergeViewHeight(mergeView);
          if (newHeight >= height) break;
          else height = newHeight;
        }
        mergeView.wrap.style.height = height + "px";
    }


    
    window.createEditor = function(originalData, changedData) {

        var editorElement = document.getElementById("editor");

        window.editor = CodeMirror.MergeView(editorElement, {
                  orig: originalData,
                  value: changedData,
                  lineNumbers: true,
                  mode: "application/ld+json",
                  highlightDifferences: true,
                  readOnly: true,
                  revertButtons: false
              });

        resize(window.editor)
    }

    window.createEditor(JSON.stringify(<%= raw @parent_commit.as_json %>, null, 2), JSON.stringify(<%= raw @commit.as_json %>, null, 2))

<% end %>