<h1><%= @keyboard.name %></h1>

<h2><%= @commit.name %></h2>


<%= button_to 'Fork', [:fork, @user, @keyboard, @commit], :method => :post %>

<%= link_to 'New Commit', [:new, @user, @keyboard, :commit] %>

<%= link_to 'Diff', [:diff, @user, @keyboard, @commit] %>


<%= react_component('Editor', 'editor', data: raw(@commit.as_json), editable: false) %>