<h1><%= @keyboard.name %></h1>

<h2><%= @commit.name %></h2>


<%= button_to 'Fork', fork_user_keyboard_commit_path(@user.name, @keyboard.name, @commit), :method => :post %>

<%= link_to 'New Commit', new_user_keyboard_commit_path(@user.name, @keyboard.name) %>

<%= link_to 'Diff', diff_user_keyboard_commit_path(@user.name, @keyboard.name, @commit) %>


<%= react_component('Editor', 'editor', data: raw(@commit.as_json), editable: false) %>