<h1><%= @keyboard.name %></h1>

<h2><%= @commit.name %></h2>

<%= link_to 'Fork', fork_commit_path(@commit), :method => :post %>

<%= link_to 'Commit', keyboard_commits_path(@keyboard, @commit), :method => :post %>


<div id="app">
</div>

<div id="text">
</div>


<%= javascript_tag do %>

window.editor = CodeMirror(document.getElementById("text"), {
        mode:  "javascript",
        lineNumbers: true
      });

yizhackclj.components.initialize("<%= j raw @commit.as_json %>");

<% end %>