<h1><%= @commit.name %></h1>

<div id="app">
</div>

<div id="text">
</div>


<%= javascript_tag do %>

window.editor = CodeMirror(document.getElementById("text"), {
        mode:  "application/ld+json",
        lineNumbers: true
      });

<% end %>


<script src=<%= asset_path('cljs/yizhackclj.js') %> ></script>


<%= javascript_tag do %>

yizhackclj.db.deserialize_keyboard(<%= raw @commit.data.to_json %>);

<% end %>