<h1>Talks for <%= @keyboard.name %> </h1>

<%= link_to 'Create new talk', new_user_keyboard_talk_path(@user.name, @keyboard.name) %>

<ul>
	<% @talks.each do |talk| %>
		<li> 

			<%= link_to talk.title, user_keyboard_talk_path(@user.name, @keyboard.name, talk) %> 

			<%= link_to 'Edit', edit_user_keyboard_talk_path(@user.name, @keyboard.name, talk) %> 

			<%= link_to 'Delete', user_keyboard_talk_path(@user.name, @keyboard.name, talk), method: :delete, data: { confirm: 'Are you sure?' } %>
		</li>
	<% end %>
</ul>