<h1>Talks for <%= @keyboard.name %> </h1>

<%= link_to 'Create new talk', [:new, @user, :keyboard] %>

<ul>
	<% @talks.each do |talk| %>
		<li>

			<%= link_to talk.title, [@user, @keyboard, talk] %>

			<%= link_to 'Edit', [:edit, @user, @keyboard, talk] %>

			<%= link_to 'Delete', [@user, @keyboard, talk], method: :delete %>
		</li>
	<% end %>
</ul>