<%= link_to 'Edit', edit_user_keyboard_talk_path(@user.name, @keyboard.name, @talk) %>

<%= button_to 'Delete', user_keyboard_talk_path(@user.name, @keyboard.name, @talk), method: :delete, data: { confirm: 'Are you sure?' } %>


<h1> <%= j @talk.title %> </h1>


<% props = "{data: '#{@talk.data}', editable: false}" %>
<%= client('MarkdownEditor', 'markdown_editor', props)%>


<% @talk.comments.each do |comment| %>
	<div class="comment" id="comment_<%= comment.id %>">
		<div class="head">
			Created by: <b><%= comment.user.name %></b>

			<%= button_to 'Delete', user_keyboard_talk_comment_path(@user.name, @keyboard.name, @talk, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>

		<% props = "{
			user: #{@user.to_json},
			keyboard: #{@keyboard.to_json},
			talk: #{@talk.to_json},
			comment: #{comment.to_json},
			action: 'edit',
			authenticity_token: '#{form_authenticity_token}'}" %>

		<%= client('Comment', "edit_#{comment.id}_comment", props)%>

	</div>
<% end %>

<% props = "{
	user: #{@user.to_json},
	keyboard: #{@keyboard.to_json},
	talk: #{@talk.to_json},
	comment: #{@comment.to_json},
	action: 'new',
	authenticity_token: '#{form_authenticity_token}'}" %>

<%= client('Comment', 'new_comment', props)%>
