<%= link_to 'Edit', edit_user_keyboard_talk_path(@user.name, @keyboard.name, @talk) %>

<%= button_to 'Delete', user_keyboard_talk_path(@user.name, @keyboard.name, @talk), method: :delete, data: { confirm: 'Are you sure?' } %>


<h1> <%= j @talk.title %> </h1>


<%= react_component('MarkdownEditor', "markdown_editor", data: @talk.data) %>


<% @talk.comments.each do |comment| %>
	<div class="comment" id="comment_<%= comment.id %>">
		<div class="head">
			Created by: <b><%= comment.user.name %></b>

			<%= button_to 'Delete', user_keyboard_talk_comment_path(@user.name, @keyboard.name, @talk, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>

		<%= react_component('Comment', "edit_#{comment.id}_comment",
			user: @user,
			keyboard: @keyboard,
			talk: @talk,
			comment: comment,
			action: 'edit',
			authenticity_token: form_authenticity_token) %>

	</div>
<% end %>

<%= react_component('Comment', "new_comment",
			user: @user,
			keyboard: @keyboard,
			talk: @talk,
			comment: @comment,
			action: 'new',
			authenticity_token: form_authenticity_token) %>
