<%= link_to 'Edit', [:edit, @user, @keyboard, @talk] %>

<%= button_to 'Delete', [@user, @keyboard, @talk], method: :delete %>


<h1> <%= j @talk.title %> </h1>


<%= react_component('MarkdownEditor', "markdown_editor", data: @talk.data) %>


<% @talk.comments.each do |comment| %>
	<div class="comment" id="comment_<%= comment.id %>">
		<div class="head">
			Created by: <b><%= comment.user.name %></b>

			<%= button_to 'Delete', [@user, @keyboard, @talk, comment], method: :delete %>
		</div>

		<%= react_component('Comment', "edit_#{comment.id}_comment",
			user: @user,
			keyboard: @keyboard,
			talk: @talk,
			comment: comment,
			action: 'edit',
			authenticity_token: form_authenticity_token) %>

	</div>
<% end %>

<%= react_component('Comment', "new_comment",
			user: @user,
			keyboard: @keyboard,
			talk: @talk,
			comment: Comment.new,
			action: 'new',
			authenticity_token: form_authenticity_token) %>
