<%= link_to 'Edit', edit_keyboard_talk_path(@keyboard, @talk) %> 

<%= link_to 'Delete', keyboard_talk_path(@keyboard, @talk), method: :delete, data: { confirm: 'Are you sure?' } %>


<h1> <%= j @talk.title %> </h1>


<%= render :partial => "shared/markdown_object", object: @talk, locals: {dataMethod: :data} %>


<div id="content" class="markdown"></div>


<%= render :partial => "shared/markdown_object", collection: @talk.comments, locals: {dataMethod: :data} %>