<div> <%= @user.name %> </div>
<div> <%= @user.email %> </div>

<% if @user.avatar %>

	<%= image_tag attachment_url(@user, :avatar, :fill, 300, 300) %>

<% end %>

<%= link_to 'Keyboards', [@user, :keyboards] %>


<%= link_to 'Activity', [:activity, @user] %>

<%= link_to 'Feed', [:feed, @user] %>



<%= link_to 'Likes', [:likes, @user] %>

<%= link_to 'Following', [:following, @user] %>

<%= link_to 'Followers', [:followers, @user] %>

<% if @user != User.first %>

	<% if User.first.following?(@user) %>
		<%= button_to 'Unfollow', [:unfollow, @user], method: :patch %>
	<% else %>
		<%= button_to 'Follow', [:follow, @user], method: :patch %>
	<% end %>

<% end %>


<h2>Activity: </h2>

<%= render_activities(PublicActivity::Activity
	.where(:owner => @user)
	.limit(5)
	.order(created_at: :desc)) %>

<h2>Feed: </h2>

<%= render_activities(PublicActivity::Activity
	.where(owner_id: User.first.following_users.map {|user| user.id}, owner_type: "User")
	.limit(5)
	.order(created_at: :desc))
	%>