<div> <%= @user.name %> </div>
<div> <%= @user.email %> </div>

<% if @user.avatar %>

	<%= image_tag attachment_url(@user, :avatar, :fill, 300, 300) %>

<% end %>

<%= link_to 'Keyboards', user_keyboards_path(@user.name) %>


<%= link_to 'Activity', activity_user_path(@user.name) %>

<%= link_to 'Feed', feed_user_path(@user.name) %>



<%= link_to 'Likes', likes_user_path(@user.name) %>

<%= link_to 'Following', following_user_path(@user.name) %>

<%= link_to 'Followers', followers_user_path(@user.name) %>

<% if @user != User.first %>

	<% if User.first.following?(@user) %>
		<%= button_to 'Unfollow', unfollow_user_path(@user.name), method: :patch %>
	<% else %>
		<%= button_to 'Follow', follow_user_path(@user.name), method: :patch %>
	<% end %>

<% end %>


<h2>Activity: </h2>

<%= render_activities(PublicActivity::Activity
	.where(:owner => @user)
	.limit(5)
	.order(created_at: :desc)) %>

<h2>Feed: </h2>

<%= render_activities(PublicActivity::Activity
	.where(owner_id: User.first.following_users.map {|user| user.id}, owner_type: "User")
	.limit(5)
	.order(created_at: :desc))
	%>