<%= form_for @keyboard do |f| %>

	<%= f.text_field :name %>
  	<%= f.text_area :description, size: "60x12" %>
  	
  	<%= f.submit "Update" %>

<% end %>


<div id="code">
</div>

<%= javascript_tag do %>

$(document).ready(function() {
        window.editor = CodeMirror.fromTextArea(document.getElementById("keyboard_description"), {
  			value: document.getElementById("keyboard_description").innerHTML,
  			mode:  "markdown",
  			lineNumbers: true
  		});

		function updateTextArea() {
    		window.editor.save()
		}

		window.editor.on('change', updateTextArea);
    });

<% end %>