<h1>Keyboards</h1>

<%= link_to 'Create new keyboard', new_user_keyboard_path(@user.name) %>


<ul>
	<% @keyboards.each do |keyboard| %>
		<li>
			<%= link_to keyboard.name, user_keyboard_path(@user.name, keyboard.name) %>

			<%= link_to 'Edit', edit_user_keyboard_path(@user.name, keyboard.name) %>

			<%= button_to 'Delete', user_keyboard_path(@user.name, keyboard.name), method: :delete, data: { confirm: 'Are you sure?' } %>

			<%= link_to 'Commits', user_keyboard_commits_path(@user.name, keyboard.name) %>

			<%= link_to 'HEAD', user_keyboard_commit_path(@user.name, keyboard.name, keyboard.commits.last) %>
		</li>
	<% end %>
</ul>