<%= link_to 'Edit', edit_keyboard_path(@keyboard) %> 

<%= link_to 'Delete', keyboard_path(@keyboard), method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to 'Commits', keyboard_commits_path(@keyboard) %>

<%= link_to 'HEAD', keyboard_commit_path(@keyboard, @keyboard.commits.last) %>

<%= link_to 'Talks', keyboard_talks_path(@keyboard) %>


<h1> <%= j @keyboard.name %> </h1>

<%= render :partial => "shared/markdown_object", object: @keyboard, locals: {dataMethod: :description} %>