<%= link_to 'Edit', edit_keyboard_path(@keyboard) %> 

<%= link_to 'Delete', keyboard_path(@keyboard), method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to 'Commits', keyboard_commits_path(@keyboard) %>

<%= link_to 'HEAD', keyboard_commit_path(@keyboard, @keyboard.commits.last) %>

<%= link_to 'Talks', keyboard_talks_path(@keyboard) %>


<h1> <%= j @keyboard.name %> </h1>

<div id="content" class="markdown"></div>

<%= javascript_tag do %>

	marked.setOptions({
	  renderer: new marked.Renderer(),
	  gfm: true,
	  tables: true,
	  breaks: true,
	  pedantic: false,
	  sanitize: false,
	  smartLists: true,
	  smartypants: false
	});

    document.getElementById('content').innerHTML = marked("<%= j raw @keyboard.description %>");
<% end %>