<%= link_to 'Edit', [:edit, @keyboard.user, @keyboard] %>

<%= button_to 'Delete', [@keyboard.user, @keyboard], method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to 'Commits', [@keyboard.user, @keyboard, :commits] %>

<%= link_to 'HEAD', [@keyboard.user, @keyboard, @keyboard.commits.last] %>

<%= link_to 'Talks', [@keyboard.user, @keyboard, :talks] %>

<%= link_to 'Likes', [:likes, @keyboard.user, @keyboard] %>

<%= link_to 'Followers', [:followers, @keyboard.user, @keyboard] %>



<% if @user != User.first %>


	<%= react_component('Like', "like",
			liked: User.first.liked?(@keyboard),
			likes: @keyboard.get_likes.size,
			user: @keyboard.user,
			keyboard: @keyboard) %>

	<%= react_component('Follow', "follow",
			follows: User.first.following?(@keyboard),
			followers: @keyboard.count_user_followers,
			user: @keyboard.user,
			keyboard: @keyboard) %>

<% end %>


<h1> <%= j @keyboard.name %> </h1>

<%= react_component('MarkdownEditor', "markdown_editor", data: @keyboard.description) %>