<%= link_to 'Edit', edit_user_keyboard_path(@user.name, @keyboard.name) %> 

<%= link_to 'Delete', user_keyboard_path(@user.name, @keyboard.name), method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to 'Commits', user_keyboard_commits_path(@user.name, @keyboard.name) %>

<%= link_to 'HEAD', user_keyboard_commit_path(@user.name, @keyboard.name, @keyboard.commits.last) %>

<%= link_to 'Talks', user_keyboard_talks_path(@user.name, @keyboard.name) %>

<%= link_to 'Likes', likes_user_keyboard_path(@user.name, @keyboard.name) %>

<%= link_to 'Followers', followers_user_keyboard_path(@user.name, @keyboard.name) %>



<% if @user != User.first %>

	<% if @user.liked? @keyboard %>
		<%= link_to 'Unlike', unlike_user_keyboard_path(@user.name, @keyboard.name), method: :patch %>
	<% else %>
		<%= link_to 'Like', like_user_keyboard_path(@user.name, @keyboard.name), method: :patch %>
	<% end %>


	<% if User.first.following?(@keyboard) %>
		<%= link_to 'Unfollow', unfollow_user_keyboard_path(@user.name, @keyboard.name), method: :patch %>
	<% else %>
		<%= link_to 'Follow', follow_user_keyboard_path(@user.name, @keyboard.name), method: :patch %>
	<% end %>

<% end %>


<h1> <%= j @keyboard.name %> </h1>

<%= react_component('Markdown', data: @keyboard.description) %>